body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #d1e7ff;
    padding:10px;
    margin:-9px
        
}

ul{
    display: flex;
    gap:19px;
    padding:0 19px; 
}
li{
    list-style: none;
}

.rightLinks{
    display: flex;
    
}

.logo{
    width: 100px;
    cursor:pointer;
    height: 100px;
}

.leftSide{
    display: flex;
    gap:25px;
    align-items: center;
}
.vacationPic{
    height:200px;
    width: 400px;
}
.landingPage{
    display:flex;
    margin: 50px 30px;
    gap:19px;
    align-items: center;
    
    
}
.pageName{
    font-size: 25px
}

.midBody{
    display: flex;
    padding:70px ;
    justify-content: center;
    gap:70px;
    background:#adbfcb;
    align-items: center;
    margin: 0px -9px;
}
div.info img{
    height: 160px;
    border: solid #4f5152;
    border-width: 3px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px grey;
}

div.info p{
    text-align: center;
}

.callButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px 20px 10px 10px;
    background:#7eb6f2;
    border: solid;
    border-radius: 40px;
    border-width: 0;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    font-weight: 500;
    color: aliceblue;
}
.infoText{
    text-align: center;
}
.reserveButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 40px;
    background-color:dodgerblue;
    color:white;
}

.midBody2{
    display: flex;
    flex-direction: column;
    padding:90px;
    margin:100px 60px;
    font-size:25px;
    background: #fffdd1;
}
div.midBody2 strong{
    text-align: end;
}